#btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #252A34;
    margin-top: 25px;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #252A34;
    transition: 0.5s ease;
    user-select: none;
    font-weight: 500;
    width: 50%;
  }
  
#btn:hover,#btn:focus {
    color: #ffffff;
    background: #FF2E63;
    border: 1px solid #FF2E63;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #FF2E63, 0 0 20px #FF2E63, 0 0 50px #FF2E63,
      0 0 100px #FF2E63;
}
  