
.holder{
    display: flex;
    flex-direction: row;
}
.MainSection{
    width: 100%;
    margin-top: 20px;
    margin-left: 5%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #08D9D6;
}


.sessiondash{
    margin-left: 5%;
}

.sessiondash h1{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


