.head{
    display: flex;
    flex-direction: row;
    color: #FF2E63;
    justify-content:space-evenly;
}

.head>#btn{
    width: 300px;
    height: 60px;
    font-size: 30px;
}

.head>h1{
    font-size: 50px;
}


.Timer>h1{
    font-size: 500px;
    margin-top: 0px;
    text-align: center;
    color: #FF2E63;
    margin-bottom: -100px;
}

.Timer>h2{
    margin-top: 0px;
    font-size: 100px;
    text-align: center;
    color: #FF2E63;
}

textarea{
    width: 300px;
    height: 300px;
    color: #FF2E63;
    font-size: 20px;
}



.Notepad{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Timer{
    position: relative;
}


.warn{
    color: #EAEAEA;
    background-color: #FF2E63;
    width: 100%;
    height: 350px;
    font-size: 30px;
    text-align: center;
    align-content: center;
}

